<div class="row">
  {{#each restaurants}}
    <div class="col-md-4 py-4">
      <div class="card shadow-sm h-100">
        <a href="/restaurants/{{this.id}}" style="text-decoration: none;">
          <img class="card-img-top" src="{{this.image}}" alt="Card image cap" width="286px" height="180px">
          <div class="card-body">
            <p class="card-text">{{this.name}}</p>
            <span class="badge badge-secondary">{{this.categoryName}}</span>
            <p class="card-text text-dark">{{this.description}}</p>
          </div>
        </a>
      </div>
    </div>
  {{/each}}
</div>
<br />
<br />